{% extends "layouts/base_main.html" %}

{% block content %}
  <h1>
    {{ dish.model }}
    <a href="{% url 'kitchen_service:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'kitchen_service:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Dish Type: ({{ dish.dish_type.name }})</p>
  <h1>
    Cooks

    {% if cook in user.dishes.all %}
      <a href="{% url 'kitchen_service:toggle-dish-assign' pk=dish.id %}" class="btn btn-danger link-to-page">
        Delete me from this dish
      </a>
    {% else %}
      <a href="{% url 'kitchen_service:toggle-dish-assign' pk=dish.id %}" class="btn btn-success link-to-page">
        Assign me from this dish
      </a>
    {% endif %}

  </h1>
  <hr>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
