{% extends "layouts/base_main.html" %}

{% block content %}
  <h1>
    {{ dish.model }}
    <a href="{% url 'kitchen_service:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'kitchen_service:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Dish Type: ({{ dish.name}} {{ dish_type.name }})</p>
  <h1>
    Cooks
    <form action="{% url 'kitchen_service:toggle-dish-assign' pk=dish.id %}" method="post" style="display: inline;">
      {% csrf_token %}
      {% if user in dish.cooks.all %}
        <button type="submit" class="btn btn-danger">Delete me from this dish</button>
      {% else %}
        <button type="submit" class="btn btn-success">Assign me to this dish</button>
      {% endif %}
    </form>
  </h1>
  <hr>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>{{ cook.username }} ({{ cook.first_name }} {{ cook.last_name }})</li>
    {% endfor %}
  </ul>
{% endblock %}
